.digital-signage-preview.controls {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  overflow: hidden;
  flex-direction: column;
  margin: 21px;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
body > .digital-signage-preview.controls {
  right: unset;
  left: 0;
  margin: 6px;
}
body:hover > .digital-signage-preview.controls,
#digital-signage-preview.show .popup:hover > .digital-signage-preview.controls {
  visibility: visible;
}
body:hover > .digital-signage-preview.controls,
#digital-signage-preview.show
  .popup:hover
  > .digital-signage-preview.controls
  li {
  cursor: pointer;
}
.digital-signage-preview.controls li {
  width: 28px;
  height: 28px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 500;
}
.digital-signage-preview.controls .close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23cc3d3d'%3E%3Cpath fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
  background-size: 18px 18px;
}
.digital-signage-preview.controls .prev,
.digital-signage-preview.controls .next {
  display: none;
  background-size: 16px 16px;
}
.digital-signage-preview.controls .prev {
  border-top: 1px solid #eee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%232b2b2b'%3E%3Cpath fill-rule='evenodd' d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
.digital-signage-preview.controls .next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%232b2b2b'%3E%3Cpath fill-rule='evenodd' d='M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
