:root {
  font-size: calc(0.5em + 1vw);
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
}
body,
body > div {
  height: 100%;
  margin: 0;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
article .views-element-container,
article .views-element-container .view,
article .views-element-container .view .view-content {
  height: 100%;
}
a {
  text-decoration: none;
  color: initial;
}
.field--label-visually_hidden .field__label {
  display: none;
}
div[data-contextual-id] {
  display: none;
}
.field--type-video-embed-field,
.video-embed-field-responsive-video {
  height: 100%;
}
.video-embed-field-responsive-video > iframe {
  width: 100%;
  height: 100%;
}
video,
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto auto;
}
.field--type-link img,
img.digital-signage-qr-code {
  width: 150px;
}
