#underlays,
#overlays {
  height: 0;
}
#underlays > *,
#overlays > * {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#overlays .wayfinding-link {
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: red;
}
