.digital-signage-device-preview-buttons {
  display: flex;
  justify-content: space-between;
}
.digital-signage-device-preview-buttons input {
  background-color: #f88787;
}
.digital-signage-device-preview-buttons input.live {
  background-color: #85aa85;
}
#digital-signage-preview {
  position: relative;
  z-index: 9999;
  display: none;
}
#digital-signage-preview.show {
  display: block;
}
#digital-signage-preview.show > .background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0.7;
  background-color: white;
}
#digital-signage-preview.show .popup {
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  display: block;
  border-radius: 15px;
  background-color: #2b2b2b;
}
#digital-signage-preview.show.orientation-portrait .popup {
  top: 10%;
  right: 35%;
  bottom: 10%;
  left: 35%;
}
#digital-signage-preview.show .popup > .content-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  overflow: hidden;
  padding: 0;
  background-color: white;
}
#digital-signage-preview.show .popup > .content-wrapper > .content {
  position: relative;
  height: 100%;
}
#digital-signage-preview.show .popup > .content-wrapper > .content iframe {
  border: none;
}
#digital-signage-preview.show
  .popup
  > .content-wrapper
  > .content
  .screenshot-widget {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: red;
}
#digital-signage-preview.show
  .popup
  > .content-wrapper
  > .content
  .screenshot-widget:hover {
  cursor: pointer;
}
#digital-signage-preview.show .popup > .content-wrapper > .content > video,
#digital-signage-preview.show .popup > .content-wrapper > .content > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto auto;
}
#digital-signage-preview.show .popup > .content-wrapper > .content .uml-diagram,
#digital-signage-preview.show
  .popup
  > .content-wrapper
  > .content
  .table-wrapper {
  overflow: scroll;
  width: 100%;
  height: 100%;
}
#digital-signage-preview.show
  .popup
  > .content-wrapper
  > .content
  .table-wrapper.pre
  td {
  white-space: pre;
}
#digital-signage-preview.show
  .popup
  > .content-wrapper
  > .content
  .table-wrapper.pre
  td.no-pre {
  white-space: normal;
}
#digital-signage-preview.show .popup > iframe {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 34px);
  height: calc(100% - 34px);
  background-color: white;
}
