{#
/**
 * @file
 * Default theme implementation to present a schedule entity.
 *
 * This template is used when viewing a registered schedule's page,
 * e.g., /admin/content/digital-signage-schedule)/123. 123 being the schedule's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_signage_schedule()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
