{#
/**
 * @file
 * Default theme implementation to present a device entity.
 *
 * This template is used when viewing a registered device's page,
 * e.g., /admin/content/digital-signage-device)/123. 123 being the device's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_signage_device()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
